<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>

<script>function changeSize() {
    var width = parseInt($("#Width").val());
    var height = parseInt($("#Height").val());

    if (!width || isNaN(width)) {
        width = 600;
    }
    if (!height || isNaN(height)) {
        height = 400;
    }
    $("#Demo").width(width).height(height);

    // update perfect scrollbar
    Ps.update(document.getElementById('Demo'));
}
$(function () {
    Ps.initialize(document.getElementById('Demo'));
});</script>

<svg style="visibility: hidden; position: absolute; top: -100%; left: -100%;" preserveAspectRatio="none"
     viewBox="0 0 500 500" height="500" width="500">
    <defs></defs>
    <text style="font-weight:bold;font-size:23pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle"
          y="23" x="0">500x500
    </text>
</svg>

</body>
</html>