<div class="container">
    <div class="jumbotron">
        <h5>Skip to: <a href="#client"> Client </a><a href="#group"> Group </a><a href="#login"> Login </a><a
                href="#fallback"> Fallback </a><a href="#api"> Server Api </a><a href="#api"> Nav Bar </a></h5>

        <h1 class="text-center">Welcome to the Help Menu</h1>

        <h2 class="text-center"><a name="client">Client Window</a></h2>

        <p class="text-center">The client window consists of three main sections:</p>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>The message area:</p>
        <h5>This area is where the messages are shown. The refresh rate is once every
            second.</h5>
        <h5>There is a text box and button provided for sending messages as shown
            below:</h5>

        <div class="input-group">
            <form method="post" enctype="multipart/form-data">
                <label for="inputUsername" class="sr-only">Message:</label>
            <span class="input-group-btn">
            <input width=500px id="inputUsername" class="form-control" placeholder="Message"
                   required="True" autofocus="" type="text">
            <button class="btn btn-info bloc" type="submit" required="True" value="">Send</button></span></form>
        </div>
        <h5>A series of messages will be shown after sending the message:</h5>

        <div class="alert alert-success" role="alert">Sent Successfully: This indicates successfully sending a message
        </div>
        <div class="alert alert-warning" role="alert">Recipient is offline/Out of range: This indicates the message sent
            ok but wasn't recieved
        </div>
        <div class="alert alert-danger" role="alert">Message Failed to Send: This indicates failure to send the
            message
        </div>
        <h5>A message sending failure is accompanied by in messaging feedback as so:</h5>
        <h5 style="background-color: white"><strong>upi000:</strong> Message-[<font style="color: red">Failed</font>]
        </h5>


        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>The api area:</p>
        <h5>This area is where the users accepted api's are shown.</h5>
        <h5>For the api to work properly a user must have implemented their api in a similar format to the ListAPI for
            the server.</h5>
        <h5>This assumes that the user has taken note of the \r\n and spaces between functions</h5>
        <h5>Functions are labled as follows:
            <div class="badge">/apiFunction</div>
            <div class="badge">/apiFunctiontwo</div>
        </h5>
        <h5><strong>Encoding includes the following:</strong></h5>
        <h5><span style="color: green" class="glyphicon glyphicon-font" aria-hidden="true"></span> :ASCII only</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-globe" aria-hidden="true"></span> :Other formats
            supported</h5>
        <h5><strong>Encryption includes the following:</strong></h5>
        <h5><span style="color: red" class="glyphicon glyphicon-remove" aria-hidden="true"></span> :None</h5>
        <h5><span style="color: grey" class="glyphicon glyphicon-lock" aria-hidden="true"></span> :XOR</h5>
        <h5><span style="color: yellow" class="glyphicon glyphicon-lock" aria-hidden="true"></span> :AES</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-lock" aria-hidden="true"></span> :RSA</h5>
        <h5><strong>Encryption includes the following:</strong></h5>
        <h5><span style="color: red" class="glyphicon glyphicon-remove" aria-hidden="true"></span> :None</h5>
        <h5><span style="color: orangered" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> :md5</h5>
        <h5><span style="color: orange" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> :md5-salted</h5>
        <h5><span style="color: yellow" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> :SHA256</h5>
        <h5><span style="color: greenyellow" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            :SHA256-salted</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> :SHA512</h5>
        <h5><span style="color: cyan" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> :SHA512-salted</h5>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>The users online area:
        </p>
        <h5>This area is where the users are showin. The refresh rate is once every second
            however the list is only updated once every 30-60 seconds</h5>

        <ul class="list-group">
            <a class="list-group-item">User: upi000</a>
            <li class="list-group-item list-group-item-success">last login time</li>
        </ul>

        <h5>Different colors are shown for times based on the time since the user last logged in</h5>

        <ul class="list-group">
            <li class="list-group-item list-group-item-success">last login time < 1 minute</li>
            <li class="list-group-item list-group-item-info">last login time < 2 minutes</li>
            <li class="list-group-item list-group-item-warning">last login time < 5 minutes</li>
            <li class="list-group-item list-group-item-danger">last login time > 5 minutes</li>
        </ul>

        <h5>Different font colors are shown based on the location of the user</h5>

        <ul class="list-group">
            <a style="color: green" class="list-group-item">upi000 - user is in same location</a>
            <a style="color: red" class="list-group-item">upi000 - user is in different location</a>
        </ul>

        <h5>Different icons represent users location</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-home" aria-hidden="true"></span> :Home</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-education" aria-hidden="true"></span> :Uni Wi-fi</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> :Uni Desktop
        </h5>

        <h5>Different icons represent pinging status</h5>
        <h5><span style="color: green" class="glyphicon glyphicon-signal" aria-hidden="true"></span> :Ping Successful
        </h5>
        <h5><span style="color: red" class="glyphicon glyphicon-search" aria-hidden="true"></span> :Ping Successful</h5>
        <h5><span style="color: blue" class="glyphicon glyphicon-remove" aria-hidden="true"></span> :User has opted out
            of receiving automatic pings</h5>
        <h5><span style="color: yellow" class="glyphicon glyphicon-refresh" aria-hidden="true"></span> :Something went
            wrong or waiting for ping</h5>

        <h5>Groups are also stored in the user list. A group can be messaged the same way as in a normal chat.
            The system is built so that users do not need to have the group functions implemented to receive messages
            from a group conversation</h5>
        <hr class="divider">
        <h2 class="text-center"><a name="group">Group Chat</a></h2>

        <p class="text-center">The group menu is split into 3 parts</p>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>The user list:</p>
        <h5>Same implementation as in the client. Clicking on a user will add them to a temporary list</h5>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>The temporary list and
            submission area:</p>
        <h5>Clicking a user from the user list on the left will add a user to the list.</h5>

        <div class="row">
            <div class="col-xs-8">
                <ul class="list-group">
                    <li class="list-group-item">user1</li>
                    <li class="list-group-item">user2</li>
                    <li class="list-group-item">user3</li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item">Username: user 1</li>
                    <li class="list-group-item">time</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Username: user 2</li>
                    <li class="list-group-item">time</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Username: user 3</li>
                    <li class="list-group-item">time</li>
                </ul>
            </div>
        </div>
        <a href="#">Submit</a>
        <h5>This list is temporarily stored until the user presses the submit link and the server returns a group
            id.</h5>
        <h5>A group id can also be entered into the field below to get a group. If a group is made the user should
            send all the recipients the group-id in their first message</h5>
        <h5>I.e. You have been invited into a group chat. The group id is: GroupID</h5>

        <form action="#">
            <input type="text">
            <button type="submit">Submit</button>
        </form>


        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>The stored list area:
        </p>
        <h5>This is a list of already set groups as previously defined by the user</h5>

        <ul class="list-group">
            <li class="list-group-item">GroupID</li>
            <li class="list-group-item">user1,user2</li>
        </ul>
        <hr class="divider">
        <h2 align="center"><a name="login">Login-Menu</a></h2>

        <p align="center">The login area is set up to be simplistic:</p>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>To use the login menu:
        </p>

        <h5>Enter your given username and password in the fields</h5>

        <form action="#" class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputUsername2" class="sr-only">Username</label>
            <input id="inputUsername2" class="form-control" placeholder="Username" required="" autofocus=""
                   type="text">
            <label for="inputPassword" class="sr-only">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Password" required=""
                   type="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <h5>If you need to you can change your location by using the drop-up menu.</h5>

        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-expanded="true">
                Location
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="?location=0">University-Desktop</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="?location=1">University-Wireless</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="?location=2">Rest-Of-The-World</a>
                </li>

            </ul>
        </div>
        <h5>Your location will be shown below the form as well as any error code you may get from the server</h5>

        <h2 align="center" style="color: red">Code, An error looks like this</h2>
        <hr>
        <h2 align="center"><a name="fallback">Fallback System</a></h2>

        <p align="center">The fallback system works on a true peer-to-peer basis</p>
        <h5>If the login fails due to a connection error a button will appear called fallback</h5>

        <div align=center>
            <a href="#">
                <button class="btn btn-warning btn-xl">Fallback System</button>
            </a>
        </div>
        <h5>Clicking this button will navigate the user to the fallback menu where they have two options</h5>
        <h5>Enter a peers ip address to connect to. This will connect to a peer, get their user list, and then
            update all the users on the list with your details</h5>

        <form action="#">
            <input type="text" name="address">
            <button type="submit">Submit</button>
        </form>
        <h3>OR</h3>
        <h5>Start a new chain, if there is nobody else on the network start a session with just yourself. When somebody
            new joins they will update your list</h5>
        <a href="#">
            <button>Click to start the chain</button>
        </a>
        <h5>In both cases the user will continuously ping all other users once every 30 seconds to ensure they are
            still online</h5>

        <div class="well well-sm">
            <h4 style="color: orange">Warning: This system was implemented under some time constraints and may be less
                stable than other parts of the client</h4>
        </div>
        <hr>
        <h2 align="center"><a name="api">Server Api</a></h2>

        <p align="center">This simply calls the supported server functions</p>
        <h5>You can find this function under the other menu</h5>
        <hr>
        <h2 align="center"><a name="nav">The Navigation Bar</a></h2>

        <p align="center">The nav bar has links to the rest of the client and enhances user experience</p>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Passive Buttons: </p>
        <h5>The navbar provides links to the start page (py2p) the Client, the Group Chat window, the login area, and
            the logoff area (warning: Clicking logoff will log the user off)</h5>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Other-Dropdown</p>
        <h5>Provides links to this menu and the listApi menu</h5>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Message Hashing</p>
        <h5>This client supports 6 kinds of hashing. Clicking a setting whilst in the client menu will change these
            values. The settings are: </h5>
        <li style="color: red; background-color: #000000">No hashing</li>
        <li style="color: orangered; background-color: #000000">md5</li>
        <li style="color: orange; background-color: #000000">md5 with a salt</li>
        <li style="color: yellow; background-color: #000000">SHA-256</li>
        <li style="color: yellowgreen; background-color: #000000">SHA-256 with a salt</li>
        <li style="color: green; background-color: #000000">SHA-512</li>
        <li style="color: cyan; background-color: #000000">SHA-512 with a salt</li>
        <br>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Message Encryption</p>
        <h5>This client supports 3 kinds of Encryption. Clicking a setting whilst in the client menu will change these
            values. The settings are: </h5>
        <li style="color: red; background-color: #000000">No Encryption</li>
        <li style="color: grey; background-color: #000000">XOR</li>
        <li style="color: orange; background-color: #000000">AES-256</li>
        <li style="color: green; background-color: #000000">RSA-1024</li>
        <br>

        <p class="text-info"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Login Encryption</p>
        <h5>This client supports 2 kinds of login Encryption. Clicking a setting whilst in the login menu will change
            these
            values. The settings are: </h5>
        <li style="color: red; background-color: #000000">SHA-256 (less secure)</li>
        <li style="color: green; background-color: #000000">AES-256 (default)</li>

        <hr>

        <h2 align="center"><a name="nav">References</a></h2>

        <div class="row">
            <div class="col-xs-4">
                <img class="center-block" src="http://getbootstrap.com/apple-touch-icon.png">
            </div>
            <div class="col-xs-8">
                <br>
                <br>

                <p><a href="http://getbootstrap.com/">BOOTSTRAP</a></p>

                <h3>The majority of the user interface is built with the help of bootstrap.
                </h3>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-4">
                <img img class="center-block"
                     src="http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon@2.png?v=ea71a5211a91&a">
            </div>
            <div class="col-xs-8">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <p><a href="http://stackoverflow.com/">STACK OVERFLOW</a></p>

                <h3>For providing support to some of my queries and providing a method of obtaining a private ip address
                </h3>
            </div>
        </div>
    </div>
</div>
