<div class="container">

    <form action="/signin" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input id="inputUsername" name="username" class="form-control" placeholder="Username" required="" autofocus=""
               type="text">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" name="password" class="form-control" placeholder="Password" required=""
               type="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-expanded="true">
            Location
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="?location=0">University-Desktop</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="?location=1">University-Wireless</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="?location=2">Rest-Of-The-World</a></li>

        </ul>
    </div>
