.scrollable{
    overflow-y: scroll;
    max-height: 400px;
    height: 400px;
    min-height: 400px;
    overflow-x: hidden;
}

.jumbotron{
    min-height: 350px;
}

.input-group{
    max-width:600px;
}
